@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header {
		@apply antialiased bg-transparent w-full z-50 shadow-sm max-w-[2520px]
				 mx-auto xl:px-20 md:px-10 sm:px-2 px-4 py-4 font-sans fixed
				  flex items-center justify-between gap-3 md:gap-0 font-semibold transition-all;
	}
	.purple-gradient {
		@apply bg-gradient-to-r from-accent via-slate-50 to-blue-300 bg-clip-text text-transparent;
	}

	.blue-gradient {
		@apply bg-gradient-to-r from-accent to-cyan-400 py-1 md:py-3 bg-clip-text text-transparent;
	}
	.tab {
		@apply text-base font-medium text-slate-500;
	}

	.tab-active {
		@apply border-b-2 border-slate-800 text-slate-800;
	}

	.listing-content-data {
		@apply text-base text-slate-900 font-medium;
	}
	.listing-content-constant {
		@apply text-sm text-slate-600;
	}
	.listing-description {
		@apply text-base text-slate-800 text-justify;
	}
	.description {
		@apply text-base text-start font-normal text-slate-800;
	}
}

html {
	scroll-behavior: smooth;
	padding: 0%;
	background-color: white;
}

.navbar {
	background-color: transparent;
}

.navbar.colorChange {
	background-color: #000;
}

.gradient {
	height: fit-content;
	z-index: 0;
	width: 100%;
	max-width: 650;
	background-image: radial-gradient(
			at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%
		),
		/* radial-gradient(at 52% 99%, rgb(165, 58, 253) 0px, transparent 50%), */
			radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%),
		radial-gradient(at 10% 29%, rgba(133, 90, 252, 0.486) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%);
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	filter: blur(100px) saturate(150%);
	top: 10px;
	left: 0px;
	opacity: 0.15;
}
