@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header {
		@apply antialiased bg-transparent w-full z-50 shadow-sm max-w-[2520px]
				 mx-auto xl:px-20 md:px-10 sm:px-2 px-4 py-4 font-sans fixed
				  flex items-center justify-between gap-3 md:gap-0 font-semibold transition-all;
	}
	.purple-gradient {
		@apply bg-gradient-to-r from-accent via-slate-50 to-blue-300 bg-clip-text text-transparent;
	}

	.blue-gradient {
		@apply bg-gradient-to-r from-accent to-cyan-400 py-1 md:py-3 bg-clip-text text-transparent;
	}
	.tab {
		@apply text-base font-medium text-slate-500;
	}

	.tab-active {
		@apply border-b-2 border-slate-800 text-slate-800;
	}

	.listing-content-data {
		@apply text-base text-slate-900 font-medium;
	}
	.listing-content-constant {
		@apply text-sm text-slate-600;
	}
	.listing-description {
		@apply text-base text-slate-800 text-justify;
	}
	.description {
		@apply text-base text-start font-normal text-slate-800;
	}
	.mobile-menu {
		@apply absolute right-0 mt-2 w-40 origin-top-right rounded-md
		bg-white shadow-2xl ring-1 z-50 ring-black ring-opacity-5 focus:outline-none;
	}
	.mobile-item {
		@apply font-medium capitalize hover:bg-slate-100 text-gray-900 block px-4 py-2 text-sm;
	}
	.modalbackdrop {
		@apply z-[-1] flex fixed inset-0 w-[100vw] h-[100vh] items-center justify-stretch text-transparent cursor-default;
	}
	.scrollbar::-webkit-scrollbar {
		width: 5px;
		height: 20px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: #6c47ff13;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #6c47ff48;
		border-radius: 100vh;
		border: 1px solid #6c47ff13;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #6c47ff;
	}
}

html {
	scroll-behavior: smooth;
	padding: 0%;
	background-color: white;

	/* .scrollbar::-webkit-scrollbar {
		width: 20px;
		height: 20px;
	}

	.scrollbar::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: #f7f4ed;
	}

	.scrollbar::-webkit-scrollbar-thumb {
		background: #e0cbcb;
		border-radius: 100vh;
		border: 3px solid #f6f7ed;
	}

	.scrollbar::-webkit-scrollbar-thumb:hover {
		background: #b4b4b4;
	} */
}

::selection {
	color: white;
	background: #6c47ff;
}

.navbar {
	background-color: transparent;
}

.navbar.colorChange {
	background-color: #000;
}

.gradient {
	height: fit-content;
	z-index: 0;
	width: 100%;
	max-width: 650;
	background-image: radial-gradient(
			at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%
		),
		/* radial-gradient(at 52% 99%, rgb(165, 58, 253) 0px, transparent 50%), */
			radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%),
		radial-gradient(at 10% 29%, rgba(133, 90, 252, 0.486) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%);
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	filter: blur(100px) saturate(150%);
	top: 10px;
	left: 0px;
	opacity: 0.15;
}

/* -------------------- */
.image-upload-container {
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.box-decoration {
	border: 2px dashed #ccc;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-upload-label {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
	cursor: pointer;
}

.image-upload-input {
	display: none;
}

.image-upload-button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 0.8rem 1.2rem;
	margin-top: 1rem;
	cursor: pointer;
	border-radius: 5px;
}

.image-upload-button:hover {
	background-color: #3e8e41;
}

.img-display-before {
	height: 200px;
	width: 200px;
	margin-left: 35px;
}

.img-display-after {
	height: 200px;
	width: 200px;
	border-radius: 100%;
}
/* -------------------- */
